<!DOCTYPE html>
<!-- ====================== -->
<!-- USERS SHOW PAGE -->
<!-- ====================== -->
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <section>
      <section>
        <% if (currentUser === undefined) { %>
          <nav class="responsive-img N/A transparent user-nav">
            <ul>
              <li><a href="/"><h5 class="chefs-corner">ChefsCorner</h5></a></li>
              <li><a href="/">Home</a></li>
              <li><a href="/users">Chefs</a></li>
              <li><a href="/recipes">Recipes</a></li>
            </ul>
            <ul class="right">
              <li><a class="right" href="/sessions/new">Log In</a></li>
              <li><a class="right" href="/users/new">Register</a></li>
            </ul>
          </nav>
        <% } else { %>
          <nav class="responsive-img N/A transparent user-nav">
            <ul>
              <li><a href="/"><h5 class="chefs-corner">ChefsCorner</h5></a></li>
              <li><a href="/">Home</a></li>
              <li><a href="/users">Chefs</a></li>
              <li><a href="/recipes">Posts</a></li>
              <li><a href="/recipes/new">Add Posts</a></li>
              <li class="right">
                <form action="/sessions?_method=DELETE" method="POST">
                  <input class="btn deep-orange lighten-1 round-button hoverable" type="submit" value="Logout"/>
                </form>
              </li>
              <li class="right logged-in-user"><%=currentUser.username%></li>
            </ul>
          </nav>
        <% } %>
      </section>
    <!-- <% include ../partials/nav %> -->
    </section>
    <header class="container">
      <section class="center-align home-content">
        <h1>
          Check out what <%=user.username%>'s made!
        </h1>
        <section class="dlt-btn">
          <a class="btn" href="/users/<%=user._id%>/edit">Edit Account</a>
        </section>
        <section class="dlt-btn">
          <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
            <input class="btn" type="submit" value="Delete Account"/>
          </form>
        </section>
      </section>
      <hr>
    </header>

    <!-- <% for (var i = 0; i < user.recipes.length; i++) { %>
    <img src="<%=user.recipes[i].img%>" alt="">
    <% } %> -->
    <section class="card-container container">
        <% for(var i = 0; i < user.recipes.length; i++) { %>
        <div class="recipe-cards">
          <div class="row">
            <div class="col s12">
              <div class="card small">
                <div class="card-image">
                  <img src="<%=currentUser.recipes[i].img%>">
                  <span class="card-title"><%=currentUser.recipes[i].title%></span>
                </div>
                <div class="card-content">
                  <p><%=currentUser.recipes[i].description%></p>
                </div>
                <div class="card-action">
                  <a href="/recipes/<%=currentUser.recipes[i]._id%>">Read...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
    </section>
    <!-- <section class="dlt-btn">
      <a class="btn" href="/users/<%=user._id%>/edit">Edit</a>
    </section>
    <section class="dlt-btn">
      <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
        <input class="btn" type="submit" value="Delete Chef"/>
      </form>
    </section> -->
  </body>
</html>
