<!DOCTYPE html>
<!-- ====================== -->
<!-- Recipes SHOW PAGE -->
<!-- ====================== -->
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
     <!-- Display Author's Articles With Links On Author Show Page -->
    <img class="show-img" src="<%=recipe.img%>"><br>
    <small>By: <a href="/users/<%=user._id%>"><%=user.username%></a></small><br>
    <h2><%=recipe.title%></h2>
    <hr>
    <h4><%=recipe.description%></h4>
    <hr>
    <section class="dlt-btn">
      <% if (currentUser) { %>
        <form action="/recipes/<recipe._id?_method=DELETE" method="POST">
          <input class="btn" type="submit" value="Delete Recipe">
        </form>
      <% } %>
    </section>
    <section class="dlt-btn">
      <a class="btn" href="/recipes/<%=recipe._id%>/edit">Edit Recipe</a>
    </section>
  </body>
</html>
