<!DOCTYPE html>
<!-- ====================== -->
<!-- Recipes SHOW PAGE -->
<!-- ====================== -->
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <main class="container center-align home-content">
      <!-- Display Author's Articles With Links On Author Show Page -->
     <img class="show-img" src="<%=recipe.img%>"><br>
     <small>By: <a href="/users/<%=user._id%>"><%=user.username%></a></small><br>
     <h4 id="welcome-to-chefscorner"><%=recipe.title%></h4>
     <hr>
     <p class="home-blurb"><%=recipe.description%></p>
     <hr>
     <section>
       <% if (currentUser === undefined) { %>
       <% } else if (currentUser.username === user.username) { %>
         <form class="dlt-btn" action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
           <input class="btn" type="submit" value="Delete">
         </form>
        <a class="btn" href="/recipes/<%=recipe._id%>/edit">Edit</a>
       <% } %>
     </section>
    </main>
  </body>
</html>
